body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

#content{
  overflow: auto;
	position:fixed;
	top:0; 
	right:0; 
	bottom:0; 
	left:0;
	margin:0;
	box-sizing:border-box;
	width:100%;
	height:100%;
}

.thumbBox {
  position: relative;
  display: inline-block;
  border: 3px solid black;
  margin: 2px;
}

.selected {
  border: 3px solid #007ACC !important;
}

.keywords {
  position: absolute;
  color: white;
  font-size: 18px;
  /*max-width: 250px;
  /*background-color: rgba(0, 0, 0, 0.5);
  
  
  padding: 5px;*/
}

.keywords div {
  margin: 2px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  border: 1px solid black;
  /*border: 1px solid blue;
  margin: 10px;
  padding: 2px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);*/
}


.hideIt {
  display: none;
}

#thumbnails img {

}

#debug {
  position: fixed;
  width: 600px;
  height: 800px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.landscape {
  height: 400px;
  vertical-align: central;
}

#fullPicBox {
  overflow: hidden;
	text-align: center;
	
	position:fixed;
	top:0; 
	right:0; 
	bottom:0; 
	left:0;
	margin:0;
	box-sizing:border-box;
	width:100%;
	height:100%;
}

.centerFullPic {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}