<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PictureManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <PictureManager.Properties.Settings>
      <setting name="JpegQualityLevel" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="CachePath" serializeAs="String">
        <value>:\Temp\PictureManagerCache</value>
      </setting>
      <setting name="ThumbnailSize" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DirectorySelectFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="ImagesToVideoScales" serializeAs="String">
        <value />
      </setting>
      <setting name="FfmpegPath" serializeAs="String">
        <value />
      </setting>
    </PictureManager.Properties.Settings>
  </userSettings>
</configuration>
